@font-face {
font-family:"cardo";
src:url("https://use.typekit.net/af/cdbbd1/000000000000000000012369/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/cdbbd1/000000000000000000012369/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/cdbbd1/000000000000000000012369/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"cardo";
src:url("https://use.typekit.net/af/6088ac/00000000000000000001236a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/6088ac/00000000000000000001236a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/6088ac/00000000000000000001236a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    color: #111;
}

h1, h2, h3, h4, h5, h6, p, small, input[type='text'] {
    font-family: cardo, serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

div#container {
    position: absolute;
    width: 100%;
}

div.mainDisplay {
    display: block;
    padding: 1em;
    height: 100%;
    width: 100%;
}

div.wordBoard {
    display: inline-block;
    vertical-align: top;
    overflow: scroll;
    text-align: justify;
    height: 100%;
    width: 50%;
}

.focused {
    background-color: #fff;
}

div.wordTile {
    display: inline-block;
    position: relative;
    margin: 0 0.5em;

    h1 {
	margin: 0;
    }
}

div.sentenceTile {
    width: 100%;
    margin-bottom: 1em;
}

div.sentenceEntry {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
}

input[type="text"] {
    font-size: 21px;
    line-height: 31px;
    position: absolute;
    width: inherit;
    background-color: #222;
    color: #222;
    outline: none;
    border: none;
}

button {
    font-size: 21px;
    height: 35px;
    vertical-align: bottom;
}