* {
    margin: 0;
    padding: 0;
}

div#container {
    position: absolute;
    width: 100%;
    height: 100%;
}

div.mainDisplay {
    display: block;
    height: 100%;
    width: 100%;
}

div.wordBoard {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 50%;
}

div.wordQuiver {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 50%;
}

div.aWord {
    display: inline-block;
    margin-right: 1em;
}